

.proximamente {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  text-align: end;
}
.lineaSeparadoraLogo {
  border-color: black;
  width: 100%;
  display: inline-block;
  margin: 20px 0px 10px 0px;
}

.lineaSeparadoraLogoAbajo {
  border-color: black;
  width: 100%;
  display: inline-block;
  margin: 5px 0px 34px 0px;
}

.oculto {
  display: none;
}

header > img:hover {
  filter: invert(0.8);
  cursor: url("../../assets/images/faviconInterseccionBold.png") 20 20, auto;
}


header img {
  width: 270px;
  position: relative;
}

.fecha {
  position: absolute;
  font-weight: 800;
  right: 24px;
  font-size: 25px;
  margin: 0;
  text-align: end;
}
.lugar {
  position: absolute;
  right: 24px;
  padding-top: 30px;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
  text-align: end;
}

.fechaLugar {
  margin-top: 5px;
  margin-bottom: 10px;
}
.botonesPequeños {
  display: flex;
  align-items: center;
  margin-top: 55px;
  height: 50px;
  gap: 10px;
}
.socialIcon:hover {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 1px white;
}
.idioma {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: end;
  margin-top: 20px;
}
.idiomaButton {
  list-style-type: none;
  margin-top: 13px;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 600;
  cursor: "../../assets/images/faviconInterseccionBold.png";
}

.idiomaButton:hover {
  color: white;
}

.idiomaButtonSelected {
  list-style-type: none;
  margin-top: 13px;
  margin-bottom: 1rem;

  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 900;
}

.idiomaButtonSelected a:hover {
  text-shadow: 0px 0px 2px white;
  font-weight: 900;
}

.redes {
  display: flex;
  flex-direction: row;

  gap: 5px;

  width: 250px;
  list-style-type: none;

  margin-top: 15px;
  padding: 5px 0px;
}

.redes li {
  width: 100%;
}

.botonesNegrosHeader {
  margin-bottom: 20px;
}

.lineaMedioFechaaa {
  border-color: black;
  width: calc(330px - 262px);
  display: inline-block;
  margin: 7px 4px;
}

.lineaMedioLugar {
  border-color: black;
  width: calc(330px - 292px);
  display: inline-block;

  margin: 7px 4px;
}

@media (max-width: 1850px) {
  .lineaSeparadoraLogo {
    margin: 10px 0px 10px 0px;
  }
  .lineaSeparadoraLogoAbajo {
    margin: 20px 0px 20px 0px;
  }

  .botonesPequeños {
    height: 30px;
  }

  .fechaLugar {
    margin-bottom: 0;
  }
  .menuButtons {
    margin-bottom: 5px;
  }
}


@media (max-width: 900px) {
  .lineaMedioFechaaa {
    width: calc(100vw - 280px);
  }

  .lineaMedioLugar {
    width: calc(100vw - 310px);
  }
}
@media (max-width: 500px) {
  header {
    display: none;
    width: 100vw;
    max-width: 100vw;
    z-index: 300;
  }

  header.open {
    display: flex;
    margin-top: 75px;
    animation: showHeader 500ms forwards;
  }

  @keyframes showHeader {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  header img {
    display: none;
  }


}
