* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root {
  --color1: rgb(31, 138, 75);
  --color2: rgb(199, 86, 86);
  --color3: rgb(67, 67, 196);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  cursor: url("./assets/images/faviconInterseccion.png") 15 15, auto;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
  margin-left: 330px;
  animation: transition 550ms ease-out;
}

/* .MuiButtonBase-root:hover {
  cursor: url("./assets/images/faviconInterseccionBold.png") 20 20, auto;
}
 */
a {
  cursor: url("./assets/images/faviconInterseccionBold.png") 20 20, auto;
}

@keyframes transition {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.marquee {
  padding-right: 4rem;
}


.bannerDiv {
  cursor: url("./assets/images/faviconInterseccion.png");
}
.holi {
  position: relative;
  bottom: 29px;
}

.tituloBanner {
  position: relative;
  top: 3px;
  overflow: hidden;
  font-size-adjust: auto;

  line-height: 1;
}
.tituloBanner:hover {
  color: black;
}



.noticiaTitle:hover {
  color: black;
  -webkit-text-stroke: 0px;
  /* cursor: url("./assets/images/faviconInterseccion.png") 15 15, auto; */
}

.noticiaTitleIndividual {
  cursor: url("./assets/images/faviconInterseccion.png") 15 15, auto;
}

.noticiasPageTitle {
  -webkit-text-stroke: 0px;

  color: black;
}
.noticia{
  border-radius: 16px;
  box-shadow: 3px 3px 10px 3px darkgrey;
}
.noticias {
  flex: 1;

  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fit, 455px);
  gap: 40px;
  padding: 40px 0px 0px 60px;

  width: 100%;

  margin-bottom: 56px;
}

.tituloNoticia {
  width: 100%;
  position: relative;
  text-transform: uppercase;
  height: 325px;
  line-height: 75px;
  font-size: 50px;
  font-weight: 900;
  overflow: hidden;
}

.tituloNoticia img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(50%);
}

.titulo {
  position: absolute;
  padding: 10px;
  top: 5px;
  left: 10px;
  color: white;
  text-shadow: 6px 6px 15px black;
}

.titulo:hover {
  color: rgb(31, 138, 75);
  cursor: url("./assets/images/faviconInterseccionBold.png") 20 20, auto;
}
.titulito {
  width: 100%;
  position: absolute;
  font-size: 45px;
  top: 5px;
  left: 10px;
  color: white;
  text-shadow: 6px 6px 15px black;
}
.titulito:hover {
  color: rgb(31, 138, 75);
  cursor: url("./assets/images/faviconInterseccionBold.png") 20 20, auto;
}

.titulazo {
  width: 100%;
  position: absolute;
  font-size: 53px;
  line-height: 1.6;
  top: 0px;
  left: 10px;
  color: white;
  text-shadow: 6px 6px 15px black;
}
.titulazo:hover {
  color: rgb(31, 138, 75);
  cursor: url("./assets/images/faviconInterseccionBold.png") 20 20, auto;
}

.noticia img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.descripcionPrevia {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: rgb(195, 220, 204);
  padding: 15px;
  font-weight: 300;
  font-size: 15px;

  overflow: hidden;
  text-overflow: ellipsis;
  /* 2 lines */
  cursor: url("./assets/images/faviconInterseccionBold.png") 20 20, auto;
}

::-webkit-scrollbar {
  width: 20px;
  height: 10px;
  background-color: lightgrey;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: black;
  border-radius: 10px;
}

header::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: lightgrey ;
  direction: rtl;
  position: fixed; /* Cambiado a position: fixed */
  right: 0;
  z-index: 999;
  overflow: visible;
}
header::-webkit-scrollbar-thumb {
  background-color:   rgb(54, 54, 54);
  border-radius: 5px;
}
header::-webkit-scrollbar-thumb:hover {
  background-color: black;
  border-radius: 5px;
}

@media (min-width: 2120px) {
  .noticias {
    justify-content: start;
  }
  /* Regla CSS que se aplicará solo si la pantalla es más grande de 2100px */
}
@media (min-width: 2320px) {
  /* Regla CSS que se aplicará solo si la pantalla es más grande de 2100px */
}
@media (max-width: 1850px) {
  .tituloBanner {
    position: relative;
    top: 13px;
  }

  .noticiaTitle {
    font-size: 150px;
  }

  .noticias {
    padding-top: 44px;
    grid-template-columns: repeat(auto-fit, 355px);
    gap: 30px;
  }
  .tituloNoticia {
    width: 100%;
    position: relative;

    height: 253px;
    line-height: 58px;
    font-size: 38px;
    font-weight: 900;
    overflow: hidden;
  }

  .tituloNoticia img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(50%);
  }

  .titulito {
    font-size: 35px;
  }
  .titulito img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(50%);
  }

  .titulo {
    position: absolute;
    padding: 10px;
    top: 5px;
    left: 10px;
    color: white;
    text-shadow: 6px 6px 15px black;
  }

  .titulo:hover {
    color: rgb(31, 138, 75);
    cursor: url("./assets/images/faviconInterseccionBold.png") 20 20, auto;
  }

 

  /* Regla CSS que se aplicará solo si la pantalla es más grande de 2100px */
}

@media (max-width: 500px) {
  header {
    background-color: black;
  }
 
  
  .noticiaTitle {
    font-size: 75px;
  }

  .noticias {
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
  }
  .openMain {
    display: none;
  }
}
