.sesiones {
  flex: 1;

  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fit, 700px);
  gap: 30px;
  padding: 8px 30px;

  width: 100%;
}

.seccionDescripcion {
  -webkit-text-stroke: 0px;
  font-weight: 900;
  font-size: 40px;
  /* color: rgb(31, 138, 75); */
  -webkit-text-stroke: 3px black;
  color: transparent;
}

.generalSesion {
  font-weight: 300;
  font-size: 15px;

  overflow: hidden;
  text-overflow: ellipsis;
  /* 2 lines */
  cursor: url("./assets/images/faviconInterseccionBold.png") 20 20, auto;
  color: white;
}

/* .tituloSesion{
  font-size: 25px;
  font-weight: 900;
  margin-top: 5px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
} */

.tituloGrandeSesion {
  width: 100%;
  position: absolute;
  font-size: 70px;
  line-height: 1.6;
  top: -5px;
  left: 10px;
  color: white;
  text-shadow: 6px 6px 15px black;
}


.informacionSesionSinTitulo{
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;

}


/* POR SI HACE FALTA CUALQUIER COSA ESPECIFICA EN ESTA PARTE
/* .fechaSesion{

}
.horaSesion{

}
.lugarSesion{

} */

.obraSesión{
  background-color: black;
  display: grid;
  grid-template-columns: 4fr 2fr repeat(2, 0.5fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 12px;
  border-bottom: 1px solid white;
}

/* .tituloObra{

}
.autorObra{

}*/
.añoObra{
  text-align: end;
} 
.duracionObra{
  text-align: end;
}




